body{
     color:white
}

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align-last:center;
    font-size: 24px;
}

h1 {
    color:rgb(66, 216, 253);
    font-size: 36px;
    font-family: monospace;
    text-align-last: center;
}

h3 {
    color:darkorange;
    text-align-last: center;
}